.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 96px);
  background-color: #FFFFFF;
}

.content {
  text-align: center;
  max-width: 500px;
  padding: 40px;
}

.iconWrapper {
  margin-bottom: 24px;
}

.icon {
  font-size: 72px;
  color: #F94949;
}

.heading {
  color: #1A1A1A;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1;
}

.text {
  color: #45469D;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.description {
  color: #4D4D4D;
  font-size: 16px;
  margin-bottom: 32px;
  line-height: 1.6;
}

.button {
  background-color: #45469D !important;
  border-color: #45469D !important;
  height: 44px;
  font-size: 16px;
  padding: 0 32px;
}

.button:hover {
  background-color: #3a3b85 !important;
  border-color: #3a3b85 !important;
}
